@charset "UTF-8";

body {
	margin: 0;
}

.inline {
	display: inline-block;
}
/* Common styles*/
.p-l-10 {padding-left: 10px;}
.p-l-20 {padding-left: 20px;}
.p-l-30 {padding-left: 30px;}
.p-l-40 {padding-left: 40px;}
.p-l-50 {padding-left: 50px;}
.p-r-10 {padding-right: 10px;}
.p-r-20 {padding-right: 20px;}
.p-r-30 {padding-right: 30px;}
.p-r-40 {padding-right: 40px;}
.p-r-50 {padding-right: 50px;}

.m-l-10 {margin-left: 10px;}
.m-l-20 {margin-left: 20px;}
.m-l-30 {margin-left: 30px;}
.m-l-40 {margin-left: 40px;}
.m-l-50 {margin-left: 50px;}
.m-r-10 {margin-right: 10px;}
.m-r-20 {margin-right: 20px;}
.m-r-30 {margin-right: 30px;}
.m-r-40 {margin-right: 40px;}
.m-r-50 {margin-right: 50px;}


/* Top area styles*/
#top {
	border-bottom: 1px solid;
	width: 100%;
	height: 60px;
}

.logo {
	width: 300px;
	height: 60px;
	background: url("/images/logo.png") no-repeat;
	background-size: 300px 55px;
	margin-left: 70px;
	float: left;
}

.account-info {
	float: right;
	margin-right: 70px;
	margin-top: 15px;
}

.account-info div {
	display: inline-block;
}

.user-icon {
	background: url("/images/top/user.png") no-repeat;
}

.message-icon {
	background: url("/images/top/message.png") no-repeat;
}

.cart-icon {
	background: url("/images/top/cart.png") no-repeat;
}

.language-icon {
	background: url("/images/top/language.png") no-repeat;
}

.top-icon {
	background-size: 30px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

select {
	border-radius: 5px;
}

/* sidebar styles ( Left Side )*/
#sidebar {
	float: left;
	width: 250px;
	margin: 20px 5px 20px 20px;
}

.profile {
	border: 1px solid;
}

.user-info {
	text-align: center;
}

.user-info p {
	margin-top: 0px;
}

.user-info h3 {
	margin-bottom: 0px;
}

.profile-img {
	width: 120px;
	height: 120px;
	margin: auto;
	margin-top: 20px;
}

.menu {
	border: 1px solid;
	border-radius: 7px;
	margin-top: 10px;
}

.menu>div {
	margin: 5px 20px;
}

.menu-icon {
	background-size: 30px;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.menu-text {
	padding-left: 10px;
}

.dashboard-icon {
	background: url("/images/sidebar/dashboard.png") no-repeat;
	background-size: 30px 30px;
}

.profile-icon {
	background: url("/images/sidebar/profile.png") no-repeat;
	background-size: 30px 30px;
}

.wishlist-icon {
	background: url("/images/sidebar/wishlist.png") no-repeat;
	background-size: 30px 30px;
}

.message-inbox-icon {
	background: url("/images/sidebar/message-inbox.png") no-repeat;
	background-size: 30px 30px;
}

.booking-box-icon {
	background: url("/images/sidebar/booking-inbox.png") no-repeat;
	background-size: 30px 30px;
}

/* content styles ( Right Side )*/
#content {
	border: 1px solid;
	float: left;
	margin: 20px 20px 20px 5px;
}