@charset "UTF-8";
.top {
	border-bottom: 1px solid;
	width:100%;
	height:60px;
}
.logo {
	width:500px;
	height:60px;
	background: url("/images/logo.png") no-repeat ;
	background-size: 300px 55px;
	margin-left:70px;
	float:left;
}
.account-info{
	float:right;
	margin-right:70px;
}
.account-info div { display:inline-block; }
.user-icon{
	background: url("/images/top/user.png") no-repeat;
}
.message-icon{
	background: url("/images/top/message.png") no-repeat;
}
.cart-icon{
	background: url("/images/top/cart.png") no-repeat;
}
.language-icon{
	background: url("/images/top/language.png") no-repeat;
}
.top-icon {
	background-size:30px;
	width:30px;
	height:30px;	
}
select {
	border-radius:5px;
}