<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <!-- Configure Console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date [%-5level] %class{32}:%L - %message%n</pattern>
        </encoder>
    </appender>

    <!-- Configure File LOG -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mustoutdoor/log/mustoutdoor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/mustoutdoor/log/mustoutdoor-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{32}:%L - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="com.keichee.mustoutdoor" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
