##################################################################
# Database
##################################################################
mustoutdoor.postgresql.driver=org.postgresql.Driver
mustoutdoor.postgresql.jdbc.crypt=true
#mustoutdoor.postgresql.jdbc.url=jdbc:postgresql://localhost:5432/mustoutdoor
mustoutdoor.postgresql.jdbc.url=Nv+DW1goHe9hFenf4DcZAdf1f7+LdVDEHcVEDYd0mf7UQY2YESBFY08g7vrmkhy6K7F35AlsC04=
#mustoutdoor.postgresql.jdbc.username=mustoutdoor
mustoutdoor.postgresql.jdbc.username=B1c2Ze9Jku32uW1vldmkTG7q7+SH3Dke
mustoutdoor.postgresql.jdbc.password=MqrwQvS2WZza9gZFxcqa/32Z2oNTKfj9
mustoutdoor.postgresql.jdbc.defaultAutoCommit=true
mustoutdoor.postgresql.testWhileIdle=true
mustoutdoor.postgresql.validationQuery=select 1
mustoutdoor.postgresql.timeBetweenEvictionRunsMillis=36000
mustoutdoor.postgresql.jdbc.initialSize=1
mustoutdoor.postgresql.jdbc.maxActive=5
mustoutdoor.postgresql.jdbc.maxIdle=3
mustoutdoor.postgresql.jdbc.minIdle=1