<div class="menu-path">
	<a href="#">My Account</a> > Add Accommodation
</div>

<div class="title">
	<div class="title-icon inline m-r-20"></div>
	<h1 class="inline">Add Accommodation</h1>
</div>

<div class="container">
	<ul class="nav nav-tabs">
		<li id="g-info" class="active"><a>General Info</a></li>
		<li id="l-settings"><a>Location Settings</a></li>
		<li id="acmd-details"><a>Accommodation Details</a></li>
		<li id="acmd-gallery"><a>Accommodation Gallery</a></li>
		<li id="other-options"><a>Other Options</a></li>
		<li id="policy"><a>Policy</a></li>
	</ul>
	<br>

	<div class="input-data">
		<!-- js이용하여 탭 메뉴 별로 html include, 기본세팅은 General Info. 탭의 내용 -->
		<!-- General Info 탭 메뉴 -->
		<div id="content-g-info">
			<form>
				<h5 class="inline">
					Title<span>*</span>
				</h5>
				<div class="mo-tooltip inline"></div>
				<br> 
					<input class="input-name" type="text" name="acmd-name" placeholder="Name of Accommodation">
				<p />
				
				<h5 class="inline">
					Description<span>*</span>
				</h5>
				
				<div class="mo-tooltip inline"></div>
				<br> 
					<input class="input-desc" type="text" name="acmd-desc" placeholder="Describe your accommodation for customers.">
				<p />
				
				<table>
					<tr>
						<td><h5>Email</h5></td>
						<td><h5>Phone Number</h5></td>
					</tr>

					<tr>
						<td>
							<input class="input-email" type="text" name="acmd-email" placeholder="E-mail Address">
						</td>
						<td>
							<input class="input-phone" type="text" name="acmd-phone" placeholder="Phone Number">
						</td>
					</tr>
				</table>
				<p />

				<h5 class="inline">Featured Image</h5>
				<div class="tool-tip inline"></div>
				<div class="input-image">
					<img src="../../../images/photo-small.png">
				</div>
				<button type="button" class="btn btn-md">Image Upload</button>
				<p/>
					Your Currency
				<h5 class="inline">
					<span>*</span>
				</h5>
				<div class="tool-tip inline"></div>
				<select class="selectpicker">
					<!-- TODO : 사용자의 현재 로케일 정보에 맞는 currency를 default로 설정, currency 테이블에서 조회한 내용을 option으로 대체, 국가명 순서로 정렬 -->
					<option selected>United State dollar ($)</option>
					<option>Chineese yuan (¥)</option>
					<option>South Korea won (₩)</option>
				</select>

			</form>
		</div>
		
		<!-- Location Settings 탭 메뉴 -->
		<div id="content-l-settings">
			Location Settings
		</div>
		
		<!-- Accommodation Details 탭 메뉴 -->
		<div id="content-acmd-details">
			<form>
				<div>
					<h5 class="inline">
						Outdoor Accommodation Type<span>*</span>
					</h5>
					<br> <input class="input-type" type="checkbox"
						name="acmd-type" value="auto-camping">Auto Camping <input
						class="input-type" type="checkbox" name="acmd-type"
						value="caravan">Caravan <input class="input-type"
						type="checkbox" name="acmd-type" value="easy-glamping">Easy
					Glamping <input class="input-type" type="checkbox" name="acmd-type"
						value="lodge-villa">Lodge & Villa <input
						class="input-type" type="checkbox" name="acmd-type"
						value="luxury-glamping">Luxury Glamping
				</div>

				<p/>
				
				<div>
					<h5 class="inline">
						Outdoor Accommodation Facility<span>*</span>
					</h5>
					<br/> 
					<input class="input-type" type="checkbox" name="acmd-facility" value="bicycle-storage">Bicycle Storage
					<input class="input-type" type="checkbox" name="acmd-facility" value="cafe">Cafe
					<input class="input-type" type="checkbox" name="acmd-facility" value="handicapped">Handicapped
					<input class="input-type" type="checkbox" name="acmd-facility" value="no-pet-allowed">No Pet Allowed
					<input class="input-type" type="checkbox" name="acmd-facility" value="parking">Parking
					<input class="input-type" type="checkbox" name="acmd-facility" value="picnic-table">Picnic Table
					<input class="input-type" type="checkbox" name="acmd-facility" value="pool">Pool
					<input class="input-type" type="checkbox" name="acmd-facility" value="shops">Shops
					<input class="input-type" type="checkbox" name="acmd-facility" value="wifi">Wifi
				</div>
				<p/>
				
				<div>
					<h5 class="inline">
						Location Theme<span>*</span><span>(Choose only upto 3 themes)</span>
					</h5>
					<br/> 
					
					<input class="input-type" type="checkbox" name="acmd-theme" value="beach-front">Beach Front 
					<input class="input-type" type="checkbox" name="acmd-theme" value="countryside">Countryside 
					<input class="input-type" type="checkbox" name="acmd-theme" value="couple-friendly">Couple Friendly
					<input class="input-type" type="checkbox" name="acmd-theme" value="event-party">Event & Party
					<input class="input-type" type="checkbox" name="acmd-theme" value="family-friendly">Family Freindly
					<input class="input-type" type="checkbox" name="acmd-theme" value="forest">Forest
					<input class="input-type" type="checkbox" name="acmd-theme" value="hillside">Hillside
					<input class="input-type" type="checkbox" name="acmd-theme" value="lake-view">Lake View
					<input class="input-type" type="checkbox" name="acmd-theme" value="mountain">Mountain
					<input class="input-type" type="checkbox" name="acmd-theme" value="pet-allowed">Pet Allowed
					<input class="input-type" type="checkbox" name="acmd-theme" value="river-view">River View
					<input class="input-type" type="checkbox" name="acmd-theme" value="stream-side">Streamside
					<input class="input-type" type="checkbox" name="acmd-theme" value="valley">Valley
				</div>
				<p>
				
				<div class="special-facility">
					<h5 class="inline">Special Facility</h5>
					<div class="inline add-icon"></div>
					<div class="content-box">
						<!-- home.js에서 동적으로 생성함 -->
						<div class="sf-item">
							<div class="delete-icon"></div>
							<div class="sf-title">
								Title <input type="text" name="sfTitle0" placeholder="Title of Special Facility">
							</div>
							<div class="sf-desc">
								Description <input type="text" name="sfDesc0" placeholder="Please describe your special facility for user">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div id="content-acmd-gallery">
			<div class="input-image">
				<img src="../../../images/photo-small.png">
			</div>
			<div>Upload the attractive features of your accommodation that guests might love.<div class="mo-tooltip inline"></div></div>
			<button type="button" class="btn btn-md">Image Upload</button>
		</div>

		<div id="content-other-options">
			<form >
				<div class="extra-options">
					<h5 class="inline">Extra Options</h5>
					<div class="inline add-icon"></div>
					<div class="content-box">
						<!-- home.js에서 동적으로 생성함 -->
						<div class="eo-item">
							<div class="delete-icon"></div>
							<table>
								<tr>
									<td>
										<div class="eo-title">Name of Item</div>
									</td>
									<td>
										<div class="eo-price">
											Price <span class="t-small">(per 1 item)</span>
										</div>
									</td>
								</tr>
								<tr>
									<td><input type="text" name="eoTitle0" placeholder="Name of Item for extra option"></td>
									<td><input type="text" name="eoPrice0" placeholder="$"></td>
								</tr>
								<tr><td><div class="eo-max-number">Max of Number</div></td>
									<td><div class="eo-payment-method">Payment Method</div></td></tr>
								<tr><td><input type="number" name="eoMaxItems0" placeholer="Input max number of the item that can be ordered"></td>
									<td><input type="radio" name="eoPayment0" value="onsite"> On-site Payment Only  <input type="radio" name="eoPayment0" value="option"> Available in Extra Option</td></tr>
								<tr>
									<td colspan="2">
										<div class="eo-desc">Description</div>
									</td>
								</tr>
								<tr>
									 <td colspan="2"><input type="text" name="eoDesc0" placeholder="Please describe inclusion of extra options for user."></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div id="content-policy">
			Policy
		</div>
		
		<!-- submit 버튼은 모든 탭 메뉴에 공통 적용, home.js에서 ajax사용하여 처리 -->
		<p/>
		<button class="btn-submit" type="button">Submit Accommodation</button>
	</div>
</div>
