<div>
	<a href="#">My Account</a> > Add Accommodation
</div>

<div class="title">
	<div class="title-icon inline"></div>
	<h1 class="inline"></h1>
</div>

<div class="container">
	<div class="title-icon inline m-r-20">&nbsp;</div><h3 class="inline">Add Accommodation</h3>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#">General Info</a></li>
		<li><a href="#">Location Settings</a></li>
		<li><a href="#">Accommodation Details</a></li>
		<li><a href="#">Accommodation Gallery</a></li>
		<li><a href="#">Other Options</a></li>
		<li><a href="#">Policy</a></li>
	</ul>
	<br>
	
	<div class="input-data">
		<!-- js이용하여 탭 메뉴 별로 html include -->
	</div>
</div>
